[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=owncloud
Exec=kcmshell4 owncloudconfig
X-KDE-Library=kcm_owncloud
X-KDE-PluginKeyword=owncloud
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=file-synchronization
X-KDE-Weight=60
Name=ownCloud File Synchronization
Comment=ownCloud Synchronization Settings
X-KDE-Keywords=directories,autostart,downloads,music,documents,movies,pictures,cloud,sync
